/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--ifm-transition-fast) ease;
  border-radius:0.5rem;
}

.cardContainer:hover {
  background-color: var(--light-pink);
}

[data-theme='dark'] .cardContainer:hover {
  background-color: var(--burgundy);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  font-size: 1rem;
}